venv/
.env

__pycache__/
*.pyc

data/raw/

.vscode/
.idea/

file.txt

# Ignore all processed CSVs except latest_jobs.csv
data/processed/jobs_clean_*.csv
!data/processed/latest_jobs.csv
!data/processed/latest_skills.csv